// main colors
$primary-color: #00eaff;
$secondary-color: rgb(150, 162, 188);
$background-color: #031a30;
$text-color: #dae4fb;
$paragraph-color: rgb(127, 127, 175);
$hover-color: hsl(185, 92%, 41%);
$form-color: rgb(2, 15, 29);
$project-card-color: #072340;